@import url('https://fonts.cdnfonts.com/css/cinnamon-coffe-cake');
@import "tailwindcss";
@import "tailwind-animations";
@import 'tailwind-animations';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cinnamon Coffe Cake';
  src: url('/fonts/cinnamon-coffe-cake.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .font-cinnamon {
    font-family: 'Cinnamon Coffe Cake', sans-serif;
  }
}