---
import "../styles/base.css"
import SlidersComissions from "./SlidersComissions.astro";
---

<div class="w-full mx-auto max-w-9xl px-4 py-8 sm:px-6 lg:px-8">
  <SlidersComissions
    image="https://images.unsplash.com/photo-1553747645-c83069049271?auto=format&fit=crop&w=1200&q=80"
    imageAlt="A beautiful landscape"
    title="Beautiful Landscape"
    description="A stunning view of nature's beauty."
    price="$100"
    ctaText="Ver más"
    ctaUrl="#"
   />
</div>